.bg-image.home
  .container.my-container
    .row
      .span12
        %h2.white-text
          =simple_format("Experimental Ruby on Rails web development,\n with the help a Shiny Bear")
    .row
      .span4.offset4
        %p Lets go make something good...
